<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Home</title>
    <%- include('style') %>
  </head>
  <body>
    <%- include('Navbar') %>
    <div class="container" style="display:flex; justify-content:center; margin-top: 8rem; flex-wrap: wrap;">
      <% blogs.forEach(e=> { %>
      <!-- <a href="<%= '/blogs/' + e.slug %>" style="text-decoration: none">
        <h2><%= e.title %></h2>
      </a> -->
      <div class="card mx-4 my-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= e.title %></h5>
          <a href="<%= '/blogs/' + e.slug %>" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <% }) %>
    </div>

    

    <%- include('Footer') %>
    <%- include('script') %>

  </body>
</html>

<!--
    <%=   %> , used to print the value of variable
    <%   %> , scriptlet tag allows to use control-flow ==> for, while, if , else, switch statements.
    <%#  %>, Comment tag, no execution, no output 

-->
